@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300;400;500&family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap');

%hover-cursor {
  cursor: url("/cursor/cursor-hover.svg"), pointer !important;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

::selection {
  background: rgb(255, 179, 190);
}

html {
  color: rgb(var(--txt-color));
  font-size: 16px;
  font-family: "Zen Maru Gothic", Helvetica, Arial, sans-serif;
  height: 100%;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden auto;
  background: rgb(var(--bg-color)) url("/img/background.svg") repeat top center;
  background-size: 350px;
  * {
    cursor: url("/cursor/cursor-normal.svg"), auto;
  }
  :is(button, a) {
    @extend %hover-cursor;
    * {
      @extend %hover-cursor;
    }
  }
}

:any-link {
  @extend %hover-cursor;
}

body {
  height: 100%;
}

button {
  font-family: inherit;
  background: transparent;
  border: none;
}

img, svg {
  display: block;
  max-width: 100%;
  object-fit: contain;
}

.sr-only {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute!important;
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
  clip: rect(1px,1px,1px,1px);
}