.fade {
  &-enter-from, &-leave-to {
    opacity: 0;
    visibility: hidden;
  }
  &-enter-to, &-leave-from {
    opacity: 1;
    visibility: visible;
  }
  &-move, &-enter-active, &-leave-active {
    transition: all var(--fade-time, .3s) ease var(--delay-time, 0s);
  }
}
