html {
  --txt-color: 25 25 25;
  --bg-color: 253 172 184;

  --pudding-brown: 151 72 0;
  --pudding-yellow: 255 255 176;
  --sharp-pink: 235 99 135;
  --sharp-pink-dark: 197 85 115;
  --sharp-pink-darker: 141, 59, 81;

  --color-theme1: 253 172 184;
  --color-theme1-dark: 189 108 120;
  --color-theme2: 198 198 244;
  --color-theme2-dark: 169 169 230;
}