html {
  --txt-color: 25 25 25;
  --bg-color: 244 233 221;

  --color-theme1: 0 255 210;
  --color-theme2: 255 68 153;
  --color-theme3: 0 0 0;
  --color-theme4: 10 0 71;
  --color-theme5: 0 70 135;
}